html, body{
	height: 100%;
}
ul{
	list-style: none;
}

.main-container{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.sidebar{
	flex: 0 0 150px;
	overflow: auto;
	ul{
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }
	.logo-block{
		height: 200px;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		img{
    		display: block;
    		margin: 30px auto 0 auto;
    		height: 120px;
    		width: 120px;
	    	}
	    p{
	    		text-align: center;
	    		font-size: 20px;
	    }
	}
	.nav-item{
    	height: 64px;
    	font-size: 16px;
    	position: relative;
    	i{
    		font-size: 20px;
    		vertical-align: middle;
    		position: absolute;
    		top: 22px;
    		left: 20px;
    	}
    	p{
    		padding-left: 50px;
    		vertical-align: middle;
    		text-decoration: none;
    		display: inline-block;
    		width: 100%;
    		height: 64px;
    		line-height: 64px;
    	}
    	&:hover{
    		cursor: pointer;
    	}
    }
	
}
.navbar{
	img{
		height: 50px;
		width: 50px;
	}
	margin-bottom: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.main{
	flex: 1 1 0;
	padding: 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
}
#content-container{
	flex: 1 0 0;
	>div{
		display: flex;
		flex-direction: column;
	}
}
.summary-list{
			padding: 20px;
			margin: 0;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			li{
				float: left;
				list-style: none;
			    height: 120px;
			    width: 280px;
			    margin: 10px;
			    margin-right: 12px;
			    vertical-align: top;
			    font-weight: bold;
			    display: flex;
			    flex-direction: row;
			    align-items: center;
			    i{
		    	    width: 80px;
				    font-size: 60px;
				    height: 80px;
				    line-height: 80px;
				    text-align: center;
				    margin-left: 12px;
			    }
			    >div:first-child{
			    	height: 42px;
				    border-radius: 2px;
				    padding: 10px;
				    font-size: 16px;
				    i{
				    	margin-top: 5px;
				    }
			    }
			    .summary-content{
			    	text-align: left;
			    	padding-left: 12px;
			    	flex: 1 1 0;
			    	margin-top: 20px;
			    	margin-bottom: 20px;
			    	h4 {
			    		font-size: 16px;
			    	}
			    }
			    .emphasize-num{
			    	font-size: 20px;
			    	font-weight: lighter;
			    }
			    .emphasize-big{
			    	font-size: 42px;
			    	font-weight: lighter;
			    }
			    .descp{
			    	font-size: 12px;
			    }
			}
		}
.chart-container{
	margin: 0;
	padding: 10px;
}
.chart-title{
    padding: 5px 20px;
    border-bottom: 1px solid #e5e7ea;
    font-size: 20px;
}
.pie-chart{
	display: flex;
	flex-direction: row;
	>div{
		flex: 1 1 0;
		margin-right: 10px;
	}
}
#score{
	font-size: 42px;
}
.divider{
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 24px;
	.line{
		flex: 1 1 0;
		display: inline-block;
		width: 40%;
		height: 2px;
		border-bottom-width: 3px;
		border-bottom-style: solid;
	}
	.icon{
		display: inline-block;
		width: 40px;
		height: 40px;
		border-width: 3px;
		border-style: solid;
		border-radius: 50%;
		margin: 0 5px;
		position:relative;
		&:before{
			content: "";
		    display: inline-block;
		    width: 10px;
		    height: 10px;
		    border-right: 3px solid #9ba3af;
		    border-top: 3px solid #9ba3af;
		    transform: rotate(315deg);
		    margin-left: 12px;
		    margin-top: 15px;
		}
	}
}
.chart-legend-block{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.unit-absent-files{
	list-style: none;
    padding: 0 20px;
    li{
    	height: 48px;
	    line-height: 48px;
	    font-size: 16px;
	    border-bottom-width: 2px;
	    border-bottom-style: solid;
	    display: flex;
	    span{
	    	display: inline-block;
	    	text-align: center;
	    	overflow: hidden; 
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    font-size: 14px;
	    	&:first-child{
	    		width: 40px;
	    	};
	    	&:nth-child(2){
	    		flex: 1 0 0;
	    	}
	    	&:last-child{
	    		width: 80px;
	    		float: right;
	    	}
	    }
    }
}
//代码风格
.right-content{
	position: relative;
}
.sub-nav{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	width: 230px;
	font-size: 16px;
	height: 100%;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	li{
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		padding-left: 1em;
	    margin-bottom: 2px;
	}
}
.sub-content{
	margin-left: 250px;
	margin-right: 10px;
	margin-top: 10px;
	padding-top: 1em;
	padding-left: 1em;
	height: 100%;
	h5{
		margin-left: 24px;
	}
	a,p{
		display: block;
		margin-left: 48px;
		margin-top:24px;
	}
	h4{
		padding: 10px;
		margin-top: 0;
		position: relative;
	}
	.emp-num{
		margin-left: 24px;
	}
	section >div{
		margin-top: 24px;
		margin-bottom: 24px;
	}
}
.description{
	position: absolute;
	right: 10px;
	top: 16px;
	font-size: 12px;
	font-style: italic;
}
.none{
	display: none!important;
}
#goTestChart{
	background-color: #fff;
	padding: 24px;
    border-color: 1px solid #d2dae2;
}
.gotestSummary{
	padding-left: 0;
	li{
		height: 40px;
		line-height: 40px;
		background-color: #fff;
		margin-bottom: 5px;
		>span:first-child{
			width: 36px;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 2px;
		    display: inline-block;
		    text-align: center;
		    background: #333;
		    color: #fff;
		    vertical-align: middle;
		}
		>span:last-child{
			margin-left: 2em;
		}
	}
}
.col-sm-9{
	padding-left:0;
}
.col-sm-3{
	padding-right: 0;
	padding-left: 10px;
}
.col-sm-6{
	padding-left:0;
}
.col-sm-4{
	padding-left:0;
}
.col-sm-8{
	padding-right: 0;
	padding-left: 10px;
}


@media screen and (max-width: 1280px){
	.sidebar{
		flex: 0 0 150px;
		.nav-item{
			padding-left: 30px;
		}
	}
	.main{
		>ul{
			li{
				width: 220px;
				margin-right: 12px;
			}
		}
	}
}
