html, body{
	height: 100%;
	overflow: hidden;
}
ul{
	list-style: none;
}

.main-container{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.sidebar{
	flex: 0 0 150px;
	overflow: auto;
	ul{
    	margin: 0;
    	padding: 0;
    }
}
.logo-block{
	height: 200px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	img{
		display: block;
		margin: 30px auto 0 auto;
    	}
    p{
		text-align: center;
		font-size: 20px;
		margin-top: 10px;
    }
}
.nav-item{
	height: 64px;
	font-size: 16px;
	position: relative;
	i{
		font-size: 20px;
		position: absolute;
		top: 22px;
		left: 20px;
	}
	p{
		padding-left: 50px;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		height: 64px;
		line-height: 64px;
	}
	&:hover{
		cursor: pointer;
	}
}
.navbar{
	img{
		height: 50px;
		width: 50px;
	}
	margin-bottom: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.main{
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}
.content-container{
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.summary-list{
	padding: 20px;
	margin: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	li{
		float: left;
	    height: 120px;
	    width: 280px;
	    margin: 10px;
	    margin-right: 12px;
	    font-weight: bold;
	    display: flex;
	    align-items: center;
	    i{
    	    width: 80px;
		    font-size: 60px;
		    height: 80px;
		    line-height: 80px;
		    text-align: center;
		    margin-left: 12px;
	    }
	    >div:first-child{
	    	height: 42px;
		    border-radius: 2px;
		    padding: 10px;
		    font-size: 16px;
		    i{
		    	margin-top: 5px;
		    }
	    }
	    .summary-content{
	    	text-align: left;
	    	padding-left: 12px;
	    	flex: 1 1 0;
	    	margin-top: 20px;
	    	margin-bottom: 20px;
	    	h4 {
	    		font-size: 16px;
	    	}
	    }
	    .emphasize-num{
	    	font-size: 20px;
	    	font-weight: lighter;
	    }
	    .emphasize-big{
	    	font-size: 42px;
	    	font-weight: lighter;
	    }
	    .descp{
	    	font-size: 12px;
	    }
	}
}
.row{
	margin: 0;
}
.chart-container{
	padding: 10px;
}
.chart-title{
    padding: 5px 20px;
    border-bottom: 1px solid #e5e7ea;
    font-size: 20px;
}
//首页的三个圈圈
.pie-chart{
	display: flex;
	>div{
		flex: 1 1 0;
		margin-right: 10px;
	}
}

.divider{
	height: 20px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	.line{
		flex: 1 1 0;
		display: inline-block;
		width: 40%;
		height: 2px;
		border-bottom-width: 3px;
		border-bottom-style: solid;
	}
	.icon{
		display: inline-block;
		width: 40px;
		height: 40px;
		border-width: 3px;
		border-style: solid;
		border-radius: 50%;
		margin: 0 5px;
		position:relative;
		&:before{
			content: "";
		    display: inline-block;
		    width: 10px;
		    height: 10px;
		    border-right: 3px solid #9ba3af;
		    border-top: 3px solid #9ba3af;
		    transform: rotate(315deg);
		    margin-left: 12px;
		    margin-top: 15px;
		}
	}
}
.list{
    padding: 0 20px;
    li{
    	height: 48px;
	    line-height: 48px;
	    font-size: 16px;
	    border-bottom-width: 2px;
	    border-bottom-style: solid;
	    display: flex;
	    font-size: 14px;
	    span{
	    	display: inline-block;
	    	text-align: center;
	    	overflow: hidden; 
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    font-size: 14px;
	    	&:first-child{
	    		width: 50px;
	    	};
	    	&:nth-child(2){
	    		flex: 1 0 0;
	    	}
	    	&:last-child{
	    		width: 120px;
	    		float: right;
	    	}
	    }
    }
}
.right-content{
	flex: 1 1 0;
	width: 100%;
	overflow: auto;
}
#codeStyle .right-content{
	display: flex;
    flex-direction: column;
	position: relative;
    overflow: hidden;
}
#codeOpt .right-content{
	display: flex;
    flex-direction: column;
	position: relative;
    overflow: hidden;
}
.sub-nav{
	width: 230px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    ul {
    	position: absolute;
		left: 10px;
		right: 10px;
		font-size: 16px;
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
    }
    li{
    	height: 40px;
		line-height: 40px;
		cursor: pointer;
		padding-left: 1em;
	    margin-bottom: 2px;
	    a{
	    	display: block;
	    }
    }
}
.sub-content{
	margin-left: 250px;
	margin-right: 10px;
	margin-top: 10px;
	padding-top: 1em;
	padding-left: 1em;
	height: 100%;
	overflow: auto;
	h5{
		margin-left: 24px;
	}
	a,p{
		display: block;
		margin-left: 48px;
		margin-top:24px;
	}
	h4{
		padding: 10px;
		margin-top: 0;
		position: relative;
	}
	.emp-num{
		margin-left: 24px;
	}
	section >div{
		margin-top: 24px;
		margin-bottom: 24px;
	}
}
.description{
	position: absolute;
	right: 10px;
	top: 16px;
	font-size: 12px;
	font-style: italic;
}
.none{
	display: none!important;
}
.gotestSummary{
	padding-left: 0;
	li{
		height: 40px;
		line-height: 40px;
		background-color: #fff;
		margin-bottom: 5px;
		>span:first-child{
			width: 36px;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 2px;
		    display: inline-block;
		    text-align: center;
		    background: #333;
		    color: #fff;
		    vertical-align: middle;
		}
		>span:last-child{
			margin-left: 2em;
		}
	}
}
.col-sm-9{
	padding-left:0;
	padding-right:0;
}
.col-sm-3{
	padding-right: 0;
	padding-left: 10px;
}
.col-sm-6{
	padding-left:0;
}
.col-sm-4{
	padding-left:0;
	padding-right:0;
}
.col-sm-8{
	padding-right: 0;
	padding-left: 10px;
}

#changeLang{
	font-weight: bold;
	width: 90px;
    text-align: center;
}

@media screen and (max-width: 1280px){
	.sidebar{
		flex: 0 0 150px;
		.nav-item{
			padding-left: 30px;
		}
	}
	.main{
		>ul{
			li{
				width: 220px;
				margin-right: 12px;
			}
		}
	}
}
