@BORDER_COLOR: #e5e7ea;
@BG_COLOR: #ecf2f6;
@FONT_COLOR: #596679;
@WHITE: #fff;
@GREEN: #47bac1;
.sidebar{
    background-color: #354052;
    color: #a0acbf;
    a{
    	color: #a0acbf;
    }
}
.logo-block{
	border-bottom-color: #303a4a;
	color: #c9d0dd;
}
.nav-item{
	&:hover, &.active{
		background-color: #2f3949;
		p, i{
			color: @WHITE;
		}
	}
}
.navbar{
	border-bottom-color: @BORDER_COLOR;
	a,i{
		color: @FONT_COLOR;
	}
	li a:hover{
		background-color: #15a4fa;
		color: @WHITE;
	}
}
.navbar-nav li a{
	cursor: pointer;
	&:hover{
		i{
			color: @WHITE;
		}
	}
}
.sub-nav{
	background-color: @WHITE;
	li{
		background: @GREEN;
	    color: @WHITE;
	    a{
	    	color:@WHITE;
	    }
	}
	li:first-child{
		background-color: #37a8af;
	}
}
.sub-content {
	background-color: @WHITE;
	h4 {
		background-color: #d9e4eb;
		.emp-num{
			color: #bb8fce;
			font-size: 24px;
			font-weight: bold;
		}
	}
}
.summary-list{
	border-bottom-color: @BORDER_COLOR;
	background-color: @BG_COLOR;
	li{
	    background-color: @WHITE;
	    -webkit-box-shadow: 4px 7px 10px -2px rgba(102,102,102,0.66);
		-moz-box-shadow: 4px 7px 10px -2px rgba(102,102,102,0.66);
		box-shadow: 4px 7px 10px -2px rgba(102,102,102,0.66);
	    >div:first-child{
	    	background-color: #2aafff;
	    	color: @WHITE;
	    }
	    .summary-content{
	    	color: #8a95a5;
	    }
	    i{
	    	color: @WHITE;
	    }
	    .fa-star-o{
	    	background-color: rgba(187,143,206,0.8);
	    }
	    .fa-check{
	    	background-color: rgba(42,175,255,0.8);
	    }
	    .fa-info{
	    	background-color: rgba(255,213,7,0.8);
	    }
	    .fa-circle-o, .fa-font, .fa-question{
	    	background-color: rgba(233,26,97,0.8);
	    }
	    .fa-code,.fa-clock-o,.fa-file-o{
	    	background-color: rgba(71,188,194,0.8);
	    }

	}

}
.chart-title{
    color: @FONT_COLOR;
    background: @WHITE;
}

.divider{
	background-color: @BG_COLOR;
	.line{
		border-bottom-color:#d2dae2;
	}
	.icon{
		border-color: #d2dae2;
		background-color: @WHITE;
	}
}
.emphasize-num, .emphasize-big{
	color: #888;
}
.right-content{
	background-color: @BG_COLOR;
}
.list-title{
	background: #6f7d95;
    color: @WHITE;
}
.list{
	background-color: @WHITE;
	height: 400px;
	overflow:auto;
	li{
		color: @FONT_COLOR;
		border-bottom-color: #d9e4eb;
	}
}

.fa.fa-circle-o.avg{
		background-color: rgba(71,188,194,0.8);
	}
.fa.fa-circle-o.high{
		background-color: rgba(187,143,206,0.8);
	}

.fa-github{
	font-size: 24px;
}