.sidebar{
    background-color: #354052;
    color: #a0acbf;
    a{
    	color: #a0acbf;
    }
    .logo-block{
    	border-bottom-color: #303a4a;
    	color: #c9d0dd;
    	
    }
    .nav-item{
    	&:hover, &.active{
    		background-color: #2f3949;
    		p, i{
    			color: #fff;
    		}
    	}
    }
}
.navbar{
	border-bottom-color: #e5e7ea;
}
.main{
	background-color: #fff;
	>nav{
		a,i{
			color: #596679;
		}
		li:hover{
			background-color: #15a4fa;

			a{
				color: #fff;
			}
		}

	}
}
.summary-list{
	border-bottom-color: #e5e7ea;
	li{
	    background-color: #fff;
	    border-color: #ccc;
	    >div:first-child{
	    	background-color: #2aafff;
	    	color: #fff;
	    }
	    .summary-content{
	    	color: #8a95a5;
	    }
	}

	// li:first-child{
	// 	border:1px solid rgba(255, 213, 7, 0.8);
	// 	>div:first-child{
	// 		background-color: #ffd507;
	// 		    color: #666;
	// 		}
	// }
	// li:nth-child(2){
	// 	border:1px solid rgba(42, 175, 255, 0.3);
	// }
	// li:nth-child(3){
	// 	border:1px solid rgba(233, 26, 97, 0.3);
	// 	>div:first-child{
	// 		background-color: #e91a61;
	// 	}
	// }
	// li:last-child{
	// 	border: 1px solid hsla(169, 100%, 33%, 0.5);
	// 	>div:first-child{
	// 		background-color: #00aa8a;
	// 	}
	// }

}
.chart-container{
	background-color: #ecf2f6;
}
.chart-title{
    color: #596679;
    background: #fff;
}

.divider{
	background-color: #ecf2f6;
	.line{
		border-bottom-color:#d2dae2;
	}
	.icon{
		border-color: #d2dae2;
		background-color: #fff;
	}
}
.chart-legend-block{
	&.green{
		background-color: #47bac1;
	}
	&.purple{
		background-color: #BB8FCE;
	}
	&.grey{
		background-color: #ae69af;
	}
	&.orange{
		background-color: rgb(231,76,60)
	}
	&.lavande{
		background-color: rgb(155,89,182)
	}
	&.white{
		background-color: #fff;
	}
	&.blue{
		background-color: rgb(0,169,239);
	}
	&.darkblue{
		background-color: rgb(76,114,195);
	}
}
#score{
	color: #666;
}
.emphasize-num{
	color: #666;
}
.unit-title{
	background: #6f7d95;
    color: #fff;
}
.unit-absent-files{
	background-color: #fff;
	height: 400px;
	overflow:auto;
	li{
		color: #596679;
		border-bottom-color: #d9e4eb;
	}
}