#codeOpt.none
  ul.summary-list
    li
      div
        span ISSUES
        i.fa.fa-star-o.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#optIssueNum.emphasize-num
    li
      div
        span 文件数
        i.fa.fa-check-square-o.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#optFileNum.emphasize-num
    li
      div
        span 质量等级
        i.fa.fa-info-circle.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#optQualityRank.emphasize-num
  .right-content
    ul#optSubNav.sub-nav
      li Index
    #optContent.sub-content
