#codeStyle.none
  ul.summary-list
    li
      i.fa.fa-info(aria-hidden='true')
      .summary-content
        h4 ISSUES
        span#styleIssueNum.emphasize-big
    li
      i.fa.fa-file-o(aria-hidden='true')
      .summary-content
        h4 文件数
        span#styleFileNum.emphasize-big
    li
      i.fa.fa-font(aria-hidden='true')
      .summary-content
        h4 质量等级
        span#styleQualityRank.emphasize-big
  .right-content
    .flex-container
      .sub-nav
        ul#styleSubNav
          li Index
      #styleContent.sub-content
