#codeSmell.none
  ul.summary-list
    li
      i.fa.fa-circle-o.avg(aria-hidden='true')
      .summary-content
        h4 平均圈复杂度
        span#cyclo_avg.emphasize-big
      .progress-bar
    li
      i.fa.fa-circle-o.high(aria-hidden='true')
      .summary-content
        h4 圈复杂度高
        span#cyclo_high.emphasize-big
    li
      i.fa.fa-circle-o.series(aria-hidden='true')
      .summary-content
        h4 圈复杂度严重
        span#cyclo_grave.emphasize-big
  .chart-container
    .col-sm-6.col-md-6
      .chart-title 圈复杂度占比
      #cycloPertChart
    .col-sm-6.col-md-6
      .unit-title.chart-title 高圈复杂度列表
      ul#cycloList.unit-absent-files
  .divider
    span.line
    span.icon
    span.line
  .chart-container
    .chart-title 包圈复杂度排名
    #cycloRankChart
  .divider
    span.line
    span.icon
    span.line
