#codeOpt.none
  ul.summary-list
    li
      i.fa.fa-info(aria-hidden='true')
      .summary-content
        h4 ISSUES
        span#optIssueNum.emphasize-big
    li
      i.fa.fa-file-o(aria-hidden='true')
      .summary-content
        h4 文件数
        span#optFileNum.emphasize-big
    li
      i.fa.fa-font(aria-hidden='true')
      .summary-content
        h4 质量等级
        span#optQualityRank.emphasize-big
  .right-content
    .flex-container
      .sub-nav
        ul#optSubNav
          li Index
      #optContent.sub-content
