#codeStyle.none
  ul.summary-list
    li
      div
        span ISSUES
        i.fa.fa-star-o.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#styleIssueNum.emphasize-num
    li
      div
        span 文件数
        i.fa.fa-check-square-o.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#styleFileNum.emphasize-num
    li
      div
        span 质量等级
        i.fa.fa-info-circle.fa-lg.pull-right(aria-hidden='true')
      .summary-content
        span#styleQualityRank.emphasize-num
  .right-content
    ul#styleSubNav.sub-nav
      li Index
    #styleContent.sub-content
