#codeStyle.content-container.none
  ul.summary-list
    li
      i.fa.fa-info(aria-hidden='true')
      .summary-content
        h4 ISSUES
        span#styleIssueNum.emphasize-big
    li
      i.fa.fa-file-o(aria-hidden='true')
      .summary-content
        h4#cs_file_nums(data-i18n='cs_file_nums')
        span#styleFileNum.emphasize-big
    li
      i.fa.fa-font(aria-hidden='true')
      .summary-content
        h4#cs_quality_class(data-i18n='cs_quality_class')
        span#styleQualityRank.emphasize-big
  .right-content
    .sub-nav
      ul#styleSubNav
        li Index
    #styleContent.sub-content
