#codeOpt.content-container.none
  ul.summary-list
    li
      i.fa.fa-info(aria-hidden='true')
      .summary-content
        h4 ISSUES
        span#optIssueNum.emphasize-big
    li
      i.fa.fa-file-o(aria-hidden='true')
      .summary-content
        h4#co_file_nums(data-i18n='co_file_nums')
        span#optFileNum.emphasize-big
    li
      i.fa.fa-font(aria-hidden='true')
      .summary-content
        h4#co_quality_class(data-i18n='co_quality_class')
        span#optQualityRank.emphasize-big
  .right-content
    .sub-nav
      ul#optSubNav
        li Index
    #optContent.sub-content
