#codeSmell.content-container.none
  ul.summary-list
    li
      i.fa.fa-circle-o.avg(aria-hidden='true')
      .summary-content
        h4#cm_avg_circle_comp(data-i18n='cm_avg_circle_comp')
        span#cyclo_avg.emphasize-big
      .progress-bar
    li
      i.fa.fa-circle-o.high(aria-hidden='true')
      .summary-content
        h4#cm_circle_comp_high(data-i18n='cm_circle_comp_high')
        span#cyclo_high.emphasize-big
    li
      i.fa.fa-circle-o.series(aria-hidden='true')
      .summary-content
        h4#cm_circle_comp_serious(data-i18n='cm_circle_comp_serious')
        span#cyclo_grave.emphasize-big
  .right-content
    .chart-container
      .col-sm-4.col-md-4
        .chart-title#cm_circle_comp_pct_title(data-i18n='cm_circle_comp_pct_title')
        #cycloPertChart
      .col-sm-8.col-md-8
        .list-title.chart-title#cm_circle_comp_list_title(data-i18n='cm_circle_comp_list_title')
        ul#cycloList.list
          li
            span#cm_circle_comp_list_col1(data-i18n='cm_circle_comp_list_col1')
            span#cm_circle_comp_list_col2(data-i18n='cm_circle_comp_list_col2')
            span#cm_circle_comp_list_col3(data-i18n='cm_circle_comp_list_col3')
    .divider
      span.line
      span.icon
      span.line
    .chart-container
      .chart-title#cm_circle_comp_rank_title(data-i18n='cm_circle_comp_rank_title')
      #cycloRankChart
    .divider
      span.line
      span.icon
      span.line
