#codeCount.content-container.none  
  ul.summary-list
    li
      i.fa.fa-code(aria-hidden='true')
      .summary-content
        h4 代码行数
        span#line_count.emphasize-big
      .progress-bar
    li
      i.fa.fa-question(aria-hidden='true')
      .summary-content
        h4 注释
        span#comment_count.emphasize-big
    li
      i.fa.fa-info(aria-hidden='true')
      .summary-content
        h4 函数
        span#function_count.emphasize-big
    li
      i.fa.fa-file-o(aria-hidden='true')
      .summary-content
        h4 文件数
        span#file_count.emphasize-big
  .right-content
    .chart-container
      div.chart-title 代码行详情
      #lineCountChart
    .divider
      span.line
      span.icon
      span.line
    .chart-container
      div.chart-title 注释行详情
      #commentCountChart
    .divider
      span.line
      span.icon
      span.line
    .chart-container
      div.chart-title 函数行详情
      #funcCountChart
    .divider
      span.line
      span.icon
      span.line
    .chart-container
      div.chart-title 文件详情
      #fileCountChart
