head
  title Go Reporter | A Golang tool that does static analysis, unit testing, code review and generate code quality report
  meta(charset='UTF-8')
  meta(name='renderer' content='webkit')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='A Golang tool that does static analysis, unit testing, code review and generate code quality report')
  meta(name='keywords' content='Golang,goreporter')
  meta(name='author' content='goreporter')
  meta(name='robots' content='all')
  meta(content='always' name='referrer')
  meta(name='language' content='en-US')
  meta(name='summary' content='Code report')
  meta(name='rating' content='General')
  meta(name='coverage' content='Worldwide')
  meta(name='distribution' content='Global')
  meta(name='apple-mobile-web-app-capable' content='yes')
  link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='css/fontAwesome.css')
  link(rel='stylesheet' href='css/layout.css')
  link(rel='stylesheet' href='css/theme.css')
