doctype html
html
  include ./head.pug
  body
    .main-container
      .sidebar
        ul
          li.logo-block
            img(src='img/logo.png')
            p GoReporter
          li#navSummary.nav-item.active
            i(class='fa fa-home' aria-hidden='true')
            p#homepage(data-i18n='homepage')
          li#navUnitTest.nav-item
            i(class='fa fa-umbrella' aria-hidden='true')
            p#unit_test(data-i18n='unit_test')
          li#navCodeStyle.nav-item
            i(class='fa fa-glass' aria-hidden='true')
            p#code_style(data-i18n='code_style')
          li#navCodeOpt.nav-item
            i(class='fa fa-envira' aria-hidden='true')
            p#code_opt(data-i18n='code_opt')
          li#navCodeCount.nav-item
            i(class='fa fa-code' aria-hidden='true')
            p#code_count(data-i18n='code_count')
          li#navCodeSmell.nav-item
            i(class='fa fa-spinner' aria-hidden='true')
            p#code_main(data-i18n='code_main')
      .main
        nav.navbar
          .container-fluid
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='https://github.com/360EntSecGroup-Skylar/goreporter' target='_blank')
                    i(class='fa fa-github fa-lg' aria-hidden='true')
                li
                  a#changeLang 中文
        include ./summary.pug
        include ./unitTest.pug
        include ./codeStyle.pug
        include ./codeOpt.pug
        include ./codeCount.pug
        include ./codeSmell.pug
    script(src="js/data_real.js")
    script(src="js/i18n/ch.js")
    script(src="js/i18n/en.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/jquery.i18n/src/jquery.i18n.js")
    script(src="bower_components/jquery.i18n/src/jquery.i18n.messagestore.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/highcharts/highcharts.js")
    script(src='bundle.js')


