#summary.content-container
  ul.summary-list
    li
      i(class='fa fa-star-o', aria-hidden='true')
      .summary-content
        h4#hp_score(data-i18n='hp_score')
        span
          span#score.emphasize-big 
          span /100
    li
      i(class='fa fa-check', aria-hidden="true")
      .summary-content
        h4#hp_cover_pct(data-i18n='hp_cover_pct')
        div
          span.descp#hp_code_cover_pct(data-i18n='hp_code_cover_pct')
          span#testCover.emphasize-num
          span %
        div
          span.descp#hp_pkg_cover_pct(data-i18n='hp_pkg_cover_pct')
          span#testPkgCover.emphasize-num
          span %
    li
      i(class='fa fa-info', aria-hidden="true")
      .summary-content
        h4#hp_issues Issues
        div
          span.descp#hp_issues_subtitle(data-i18n='hp_issues_subtitle')
          span#goIssueNum.emphasize-big
    li
      i(class='fa fa-circle-o', aria-hidden="true")
      .summary-content
        h4#hp_circle_complexity(data-i18n='hp_circle_complexity')
        div
          div
            span.descp#hp_circle_comp_middle(data-i18n='hp_circle_comp_middle')
            span#mediumCycleNum.emphasize-num
          div
            span.descp#hp_circle_comp_high(data-i18n='hp_circle_comp_high')
            span#highCycleNum.emphasize-num
    li
      i(class='fa fa-code', aria-hidden="true")
      .summary-content
        h4#hp_code_amount(data-i18n='hp_code_amount')
        div
        span#codeLineNum.emphasize-big
  .right-content
    .chart-container
      .chart-title#hp_unit_test_title(data-i18n='hp_unit_test_title')
      .row
        .col-sm-9.col-md-9#gotestChart
        .col-sm-3.col-md-3
          ul.gotestSummary
            li#hp_unit_test_result_summary(data-i18n='hp_unit_test_result_summary')
            li
              span#noTestCount
              span#hp_files_no_test(data-i18n='hp_files_no_test')
            li
              span#coverLessCount
              span#hp_files_less_coverage(data-i18n='hp_files_less_coverage')
            li
              span#timeGreaterCount
              span#hp_files_more_time(data-i18n='hp_files_more_time')
    .divider
      .line
      .icon
      .line
    .row.chart-container
      .pie-chart
        div
          .chart-title#hp_pkg_circle_comp(data-i18n='hp_pkg_circle_comp') 包圈复杂度 
          #gocycleChart
        div
          .chart-title#hp_pkg_issues_count(data-i18n='hp_pkg_issues_count') 包Issue
          #goIssue
        div
          .chart-title#hp_pkg_code_amount(data-i18n='hp_pkg_code_amount') 包代码量占比
          #goPercentage
    .divider
      .line
      .icon
      .line
    .chart-container DependGraph




