#summary
  ul.summary-list
    li
      i(class='fa fa-star-o', aria-hidden='true')
      .summary-content
        h4 分数
        span
          span#score.emphasize-big 
          span /100
    li
      i(class='fa fa-check', aria-hidden="true")
      .summary-content
        h4 覆盖率
        div
          span.descp 代码覆盖率：
          span#testCover.emphasize-num
          span %
        div
          span.descp 包覆盖率：
          span#testPkgCover.emphasize-num
          span %
    li
      i(class='fa fa-info', aria-hidden="true")
      .summary-content
        h4 Issues
        div
          span.descp 问题总数：
          span#goIssueNum.emphasize-big
    li
      i(class='fa fa-circle-o', aria-hidden="true")
      .summary-content
        h4 圈复杂度
        div
          div
            span.descp 15~50分文件数：
            span#mediumCycleNum.emphasize-num
          div
            span.descp 50分以上文件数：
            span#highCycleNum.emphasize-num
    li
      i(class='fa fa-code', aria-hidden="true")
      .summary-content
        h4 代码量
        div
        span#codeLineNum.emphasize-big
  .row.chart-container
    .chart-title 单元测试
    .col-sm-9.col-md-9
      #gotestChart
    .col-sm-3.col-md-3
      ul.gotestSummary
        li 单元测试结果概览
        li
          span#noTestCount
          span 个文件没有单元测试代码
        li
          span#coverLessCount
          span 个文件单元测试覆盖率不足50%
        li
          span#timeGreaterCount
          span 个文件耗时超过1秒
  .divider
    .line
    .icon
    .line
  .row.chart-container
    .pie-chart
      div
        div.chart-title 包圈复杂度 
        #gocycleChart
      div
        div.chart-title 包Issue
        #goIssue
      div
        div.chart-title 包代码量占比
        #goPercentage
  .divider
    .line
    .icon
    .line
  .chart-container




