#summary
  ul.summary-list
    li
      div
        span 分数
      .summary-content
        i(class='fa fa-star-o fa-lg pull-right', aria-hidden='true')
        span
          span#score 
          span /100
    li
      div
        span 覆盖率
        i(class='fa fa-check-square-o fa-lg pull-right', aria-hidden="true")
      .summary-content
        div
          span 代码覆盖率：
          span#testCover.emphasize-num
          span %
        div
          span 包覆盖率：
          span#testPkgCover.emphasize-num
          span %
    li
      div
        span Issues
        i(class='fa fa-info-circle fa-lg pull-right', aria-hidden="true")
      .summary-content
        div
          span 问题总数：
          span#goIssueNum.emphasize-num
    li
      div
        span 圈复杂度
        i(class='fa fa-life-ring fa-lg pull-right', aria-hidden="true")
      .summary-content
        div
          div
            span 15~50分文件数：
            span#mediumCycleNum.emphasize-num
          div
            span 50分以上文件数：
            span#highCycleNum.emphasize-num
    li
      div
        span 代码量
        i(class='fa fa-life-ring fa-lg pull-right', aria-hidden="true")
      .summary-content
        div
        span#codeLineNum.emphasize-num

  .content
    .row.chart-container
      .chart-title 单元测试
      .col-sm-9.col-md-9
        #gotestChart
      .col-sm-3.col-md-3
        ul.gotestSummary
          li 单元测试结果概览
          li
            span#noTestCount
            span 个文件没有单元测试代码
          li
            span#coverLessCount
            span 个文件单元测试覆盖率不足50%
          li
            span#timeGreaterCount
            span 个文件耗时超过1秒
    .divider
      .line
      .icon
      .line
    .row.chart-container
      .pie-chart
        div
          div.chart-title 包圈复杂度 
          #gocycleChart
        div
          div.chart-title 包Issue
          #goIssue
        div
          div.chart-title 包代码量占比
          #goPercentage
    .divider
      .line
      .icon
      .line
    .chart-container




