#unitTest.none
  ul.summary-list
    li
      i.fa.fa-star-o(aria-hidden='true')
      .summary-content
        h4 平均代码覆盖率
        span#coverPct.emphasize-big
        span %
    li
      i.fa.fa-check(aria-hidden='true')
      .summary-content
        h4 包测试覆盖率
        span#pkgPct.emphasize-big
        span %
    li
      i.fa.fa-clock-o(aria-hidden='true')
      .summary-content
        h4 单元测试耗时
        span#unitTestTime.emphasize-big
        span s
  .right-content
    .chart-container
      div.chart-title 包覆盖率详情
      #unitCover
    .divider
      span.line
      span.icon
      span.line
    .chart-container.row
      .col-sm-6.col-md-6
        div.chart-title 包耗时占比
        #pie-chart
      .col-sm-6.col-md-6
        div.unit-title.chart-title 缺少单元测试的文件
        ul#unitAbsentFiles.unit-absent-files
