<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit" />   <!--360 browser -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A Golang tool that does static analysis, unit testing, code review and generate code quality report">
		<meta name="keywords" content="Golang,goreporter">
	    <meta name="author" content="goreporter">
	    <meta name="robots" content="all">
	    <meta content="always" name="referrer">
	    <meta name="language" content="en-US">
	    <meta name="summary" content="Code report">
	    <meta name="rating" content="General">
	    <meta name="coverage" content="Worldwide">
	    <meta name="distribution" content="Global">
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
		<title>Go Reporter code style| A Golang tool that does static analysis, unit testing, code review and generate code quality report</title>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/layout.css">
		<link rel="stylesheet" href="../css/theme.css">
	</head>
	<body>
		<div class="main-container">
				<div class="sidebar">
					<ul>
						<li class="logo-block">
							<img src='../img/logo.png'>
							<p>Golang测试报告</p>
						</li>
						<li class="nav-item">
							<i class="fa fa-home" aria-hidden="true"></i>
							<a href='../index.html'>首页</a>
						</li>
						<li class="nav-item">
							<i class="fa fa-umbrella" aria-hidden="true"></i>
							<a href='unitTest.html'>单元测试</a>
						</li>
						<li class="nav-item active">
							<i class="fa fa-glass" aria-hidden="true"></i>
							<a href='codeStyle.html'>代码风格</a>
						</li>
						<li class="nav-item">
							<i class="fa fa-envira" aria-hidden="true"></i>
							<a href='#'>代码优化</a>
						</li>
						<li class="nav-item">
							<i class="fa fa-code" aria-hidden="true"></i>
							<a href='#'>代码测试</a>
						</li>
						<li class="nav-item">
							<i class="fa fa-paw" aria-hidden="true"></i>
							<a href='#'>无效代码</a>
						</li>
						<li class="nav-item">
							<i class="fa fa-spinner" aria-hidden="true"></i>
							<a href='#'>圈复杂度</a>
						</li>
					</ul>
				</div>
				<div class="main">
						<nav class="navbar">
							<div class="container-fluid">
								<div class="navbar-header">
									<a class="navbar-brand" href="index.html">代码风格</a>
								</div>
								<div id="navbar" class="navbar-collapse collapse">
						          <ul class="nav navbar-nav navbar-right">
						            <li><a href="#">Dashboard</a></li>
						            <li><a href="#">Settings</a></li>
						            <li><a href="https://github.com/360EntSecGroup-Skylar/goreporter" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
						          </ul>
						        </div>
							</div>
						</nav>
					<ul>
						<li>
							<div>
								<span>ISSUES</span>
								<i class="fa fa-star-o fa-lg pull-right" aria-hidden="true"></i>
							</div>
							<div class="summary-content">
								<span class="emphasize-num" id="issueNum"></span>
							</div>
						</li>
						<li>
							<div>
								<span>文件数</span>
								<i class="fa fa-check-square-o fa-lg pull-right" aria-hidden="true"></i>
							</div>
							<div class="summary-content">
								<span class="emphasize-num" id="fileNum"></span>
							</div>
						</li>
						<li>
							<div>
								<span>质量等级</span>
								<i class="fa fa-info-circle fa-lg pull-right" aria-hidden="true"></i>
							</div>
							<div class="summary-content">
								<span class="emphasize-num" id="qualityRank"></span>
							</div>
						</li>
					</ul>
					<div class='right-content'>
						<ul class='sub-nav' id='subNav'>
							<li>Index</li>
						</ul>
						<div id='content'>
						</div>
					</div>
				</div>
		</div>
		<script src="../js/data.js"></script>
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/highcharts/highcharts.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../js/preProcess.js"></script>
		<script src="../js/codeStyle.js"></script>
	</body>
</html>